*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color:rgba(210, 216, 227, 1);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

header{
    padding: 30px;
    background: #D2D8E3;
    background: linear-gradient(0deg,rgba(210, 216, 227, 1) 3%, rgba(124, 124, 230, 1) 46%, rgba(58, 51, 196, 1) 100%);
}
#ar1{
    text-align: center;
    text-shadow: 2px 4px 10px rgb(47, 25, 158);
}

#ars{
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 20px;
    box-shadow: 2px 5px 10px;
    border-radius: 10px;
    padding: 20px;
}

article h3{
    text-align: center;
    text-shadow: 2px 4px 10px rgb(47, 25, 158);
}

form{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-width: 300px;
    width: 100%;

}

input{
    font-size: medium;
    height: 40px;
    border: 2px solid black;
    border-radius: 10px;
}
input::placeholder{
    text-align: center;
}
button{
    height: 30px;
    width: 90px;
    border: 2px solid rgb(31, 31, 145);
    border-radius: 10px;
}
button:hover{
    background-color: #D2D8E3;
}

footer{
    padding: 20px;
    text-align: center;
}

